-if @my_org
  %h2=@my_org.name

  %ul
    %li 物业客户管理系统

  %h5 物业信息登记
  %ul
    %li 生成物业信息excel
    %li 上传物业信息excel
    %li 定期备份物业信息excel

  %h5 物业费管理
  %ul
    %li 生成物业费账单excel
    %li 上传物业费账单excel
    %li 生成当年物业费账单
    %li 生成明年的物业费账单
    %li 在线缴费设置

  %h5 门禁卡管理
  %h5 车辆信息
  %ul
    %li 关联物业进行车辆登记

    %li 关联物业进行车位登记

  %h5 停车费管理
-else
  %p="你还没有创建组织"
  %h3=link_to "我要创建一个组织",Qiankun::Org.url(:organizes,:new)