- error = @node.errors.include?(:name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :name, :class => 'control-label'
  .controls
    =f.text_field :name, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : pat(:example)
- error = @node.errors.include?(:number)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :number, :class => 'control-label'
  .controls
    =f.text_field :number, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:number, :class => 'text-error') : pat(:example)
- error = @node.errors.include?(:nodetype)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :nodetype, :class => 'control-label'
  .controls
    =f.text_field :nodetype, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:nodetype, :class => 'text-error') : pat(:example)
- error = @node.errors.include?(:created_by)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :created_by, :class => 'control-label'
  .controls
    =f.text_field :created_by, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:created_by, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:nodes, :index), :class => 'btn btn-default'