%h3 主要参考链接
%h3 web 框架Padrino (controller)
%ul
  %li=link_to "padrino get started",url("http://www.padrinorb.com/guides/getting-started"),:target=>"_blank"
  %li=link_to "padrino API index",url("http://www.padrinorb.com/api/index.html"),:target=>"_blank"
  %li=link_to "looking-at-projects-using-padrino",url("http://www.padrinorb.com/blog/looking-at-projects-using-padrino"),:target=>"_blank"

%h3 常用padrino 链接
%ul
  %li=link_to "padrino generators",url("http://www.padrinorb.com/guides/generators"),:target=>"_blank"
  %li=link_to "padrino controller",url("http://www.padrinorb.com/guides/controllers"),:target=>"_blank"
  %li=link_to "padrino application helper",url("http://www.padrinorb.com/guides/application-helpers"),:target=>"_blank"

%h3 sinatra book
%ul
  %li=link_to "sinatra_book",url("http://sinatra-book.gittr.com")
%h3 ORM-ActiveRecord (model)
%ul
  %li=link_to "active_record_basics",url("http://guides.rubyonrails.org/active_record_basics.html"),:target=>"_blank"
  %li=link_to "migration",url("http://guides.rubyonrails.org/migrations.html"),:target=>"_blank"
  %li=link_to "active_record_validations",url("http://guides.rubyonrails.org/active_record_validations.html"),:target=>"_blank"
  %li=link_to "active_record_callbacks",url("http://guides.rubyonrails.org/active_record_callbacks.html"),:target=>"_blank"
  %li=link_to "association_basics",url("http://guides.rubyonrails.org/association_basics.html"),:target=>"_blank"
  %li=link_to "active_record_querying",url("http://guides.rubyonrails.org/active_record_querying.html"),:target=>"_blank"

%h3 Views (view)
%h3 Haml (view 模板语言
%ul
  %li=link_to "HAML info site",url("http://haml.info/"),:target=>"_blank"
  %li=link_to "HAML reference",url("http://haml.info/docs/yardoc/file.REFERENCE.html"),:target=>"_blank"

%h3 bootstrap (twitter 公司的开源)
%ul
  %li=link_to "bootstrap chinese",url("http://www.bootcss.com/"),:target=>"_blank"
  %li=link_to "bootstrap  official site",url("http://getbootstrap.com"),:target=>"_blank"

%h3 sass
%ul
  %li https://github.com/twbs/bootstrap-sass (sass，bootstrap是less)

%h3 layout 设计工具
%ul
  %li http://www.bootcss.com/p/layoutit/# （尝试下新工具，看上去不错，利用bootstrap做出来的）

%h3 图片和图像
%ul
  %li https://github.com/minimagick/minimagick (图像缩放）

%h3 Excel 解析
%ul
  %li https://github.com/Empact/roo (roo)

%h3 文件上传
%ul
  %li https://github.com/carrierwaveuploader/carrierwave 

%h3 html5
%ul
  %li http://baike.baidu.com/view/951383.htm (html5 百科）
  %li http://baike.baidu.com/view/1713027.htm (CSS3 百科）
  %li http://www.xue5.com/WebDev/Html5/755463.html （html5 教程）

%h3 Javascript
%ul
  %li http://jquery.com/ (jquery 框架）

%h3 版本管理
%ul
  %li http://www.bootcss.com/p/git-guide/ （git 版本管理）
  %li https://github.com（代码存放）

%h3 其他
%ul
  %li http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html （http 响应码)
  %li http://wenku.baidu.com/view/5cd67a2bed630b1c59eeb541.html?re=view （技术写作 MarkDown 语法


%h3 导航设计
%ul
  %li https://github.com/codeplant/simple-navigation/wiki
  %li
%h3 手机开发潜在资源
%ul
  %li http://www.bootcss.com/p/responsive-nav.js/ （响应式导航）


