%ul.breadcrumb.list-inline
  %li=link_to "home",Qiankun::App.url(:base,:index)   
  %li.active admin page

%h2 管理员临时主页
-if @current_account
  %h4="你已经登录，用户名-#{@current_account.name},email=#{@current_account.email},role=#{@current_account.role}"
-else
  %h4 你还没有登录


