%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:rooms, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:rooms, :new)

.tabs-content
  = form_for :room, url(:rooms, :create), :class => 'form-horizontal' do |f|
    =partial 'rooms/form', :locals => { :f => f }
