%h2.text-center="临时主页"
.base-text
  %p qiankun 项目是一个服务于小众的社区化的生活信息平台。
  %p 我们旨在帮助现代人的生活O2O,获取高品质的生活。

  %p 前言, 我们现在提供了物业移动互联方案，吧啦吧啦的好处.....
  %h3=link_to "创建一个物业小区",Qiankun::Org.url(:organizes,:new,:org_type=>"wuye_user")
  %h3=link_to "我的组织",Qiankun::Org.url(:organizes,:my_org)



%h3 list all baidu user
%ul
  %li=link_to "全部用户",Qiankun::Mm.url(:msg_console,:list_all_user)
