.base-text
  %p qiankun 项目是一个服务于小众的社区化的生活信息平台。
  %p 社会价值在于利用科技更好的为提高生活的质量和幸福度！
  %p 下面我们正在开发的功能:

  /%a http://localhost:3000/um/sessions/new

  /%a{ tag_icon(:edit), :href => url(:sessions, :new)}User login

.base-icons
  .btn-group
    .btn.btn-primary{:title => "消息平台"}=tag_icon("cogs icon-2x", "畅通的沟通平台")
    .btn.btn-success{:title => "活动平台"}=tag_icon("group icon-2x", "参加社会活动的一个窗口")
    .btn.btn-info{:title => "行业平台"}=tag_icon("tasks icon-2x", "为小众的管理员提供一个很好的窗口")
    .btn.btn-warning{:title => "生活资讯"}=tag_icon("flag icon-2x", "为健康幸福生活保驾护航")
    .btn.btn-danger{:title => "服务平台"}=tag_icon("magic icon-2x", "可消费的有优惠的服务")

%ul
  %li
    %a{:href=>url("/admin/sessions/new")} 管理员登录 admin@qiankun.com  lanshan
  %li
    %a{:href=>url("/um/sessions/new")} 用户登录
  %li
    %a{:href=>url("/um/users/register")} 用户注册
  = unless @current_account.nil?
    %li
      %a{:href=>url("/um/users", :headeredit, :id => @current_account.id)} 头像编辑