%ul.breadcrumb.list-inline
  %li=link_to "home",url("/")   
  %li.active dev_help

%h3 dev.qiankun.com

%h2 系统默认帐号
%h3 默认帐号
%ul
  %li 初始化用户的信息放在db/seed.rb  文件里面
  %li 如果是新搭系统，运行过rake db:seed  才会创建初始用户

%h3 默认后台管理员帐号
%ul
  %li 用户名admin@qiankun.com,密码lanshan
%h3 默认用户帐号
%ul 
  %li eric.xia@nsn.com/lanshan
  %li zhengyong@gmail.com/lanshan
  %li hunter.hu@nsn.com/lanshan

%h2.text-center  Internal tips
%h2=link_to "protype plan",url(:dev_help,:protype_plan)
%h2=link_to "develop resouces",url(:dev_help,:dev_resource)
%h2=link_to "heroku   部署",url(:dev_help,:heroku)
%h2=link_to "会议主题和纪要",url(:dev_help,:meeting)
%h2=link_to "产品线",url(:dev_help,:product_line)
%h2=link_to "开发最佳实践",url(:dev_help,:best_practice)

%h2 wuye_plan
%h2=link_to "phase 1",url(:dev_help,:wuye_phase1)
%h2=link_to "phase 2",url(:dev_help,:wuye_phase2)