%h3 flexible router
%p
This minimal example:

#!/usr/bin/env ruby
require 'sinatra'

get '/test/?:p1?/?:p2?' do
  "Hello #{params[:p1]}, #{params[:p2]}"
end

just works for /test, /test/a and /test/a/b. Did I miss something in your question?


%h3 padrino books
%p http://hfl.gitbooks.io/padrino_guides_zh_cn/application-helpers.html