%ul.breadcrumb.list-inline
  %li=link_to "home",url("/")   
  %li=link_to "dev_help",url(:dev_help,:index)
  %li.active product line

%h2 产品一 提高居民生活质量的手机入口
%ul
  %li 
    %h3 邻里关系的入口
  %li 
    %h3 物业行业应用

%h2 产品二 企业内部的社交化工作平台和工具
