%h2.text-center 欢迎来到物业公司助手！
%h3 介绍
%ul
  %li  我们给物业公司提供一套客户管理系统

%h4  物业功能集合

%h5 物业信息登记
%ul
  %li 房屋状态-已售、未售
  %li 空闲状态-空闲，使用
  %li 房屋用途-出租，自住
  %li 房屋面积
  %li 楼号-30栋
  %li 门牌号
  %li 楼层号
  %li 单元号
  %li 业主名称
  %li 户型
  %li 产权状况
  %li 手机号码
  %li 身份证
%ulww
  %li 生成物业信息excel
  %li 上传物业信息excel
  %li 定期备份物业信息excel

%h5 物业费管理
%ul
  %li 生成物业费账单excel
  %li 上传物业费账单excel
  %li 生成当年物业费账单
  %li 生成明年的物业费账单
  %li 在线缴费设置

%h5 门禁卡管理
%h5 车辆信息
%ul
  %li 关联物业进行车辆登记

  %li 关联物业进行车位登记

%h5 停车费管理
%h5 

%li=link_to "新建物业管理区",Qiankun::Org.url(:organizes,:new)