- error = @area.errors.include?(:name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :name, :class => 'control-label'
  .controls
    =f.text_field :name, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : "小区名称"

- error = @area.errors.include?(:address)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :address, :class => 'control-label'
  .controls
    =f.text_field :address, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:address, :class => 'text-error') : "小区地址"

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:areas, :index), :class => 'btn btn-default'