%ul.breadcrumb.list-inline
  %li=link_to "home",Qiankun::App.url(:base,:index)  
  %li=link_to "我的管理区",url(:areas,:index) 
  %li.active="#{@area.name}"
  
%h3="#{@area.name}"
%ul.list-group
  %li.list-group-item="Total Building #{@total_building}"

%h3 建筑物管理
%ul
  %li=link_to "建筑物列表",url(:buildings,:building_list,:area_id=>@area.id)
  %li=link_to "批量添加建筑物",url(:buildings,:building_list,:area_id=>@area.id)

