%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:room_owners, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:room_owners, :new)

.tabs-content
  = form_for :room_owner, url(:room_owners, :create), :class => 'form-horizontal' do |f|
    =partial 'room_owners/form', :locals => { :f => f }
