.base-text
  %p qiankun 项目是一个服务于小众的社区化的生活信息平台。
  %p 社会价值在于利用科技更好的为提高生活的质量和幸福度！


  %h3=link_to "我要创建一个物业小区",Qiankun::Org.url(:organizes,:new,:org_type=>"wuye_user")
  %h3=link_to "我的组织",Qiankun::Org.url(:organizes,:my_org)
