.base-text
  %p qiankun 项目是一个稳定性测试的自动化解决方案。
  %p 在当今林立的自动化工具中，争取找到我们的一席之地，需要大家的共同努力！
  %p 下面我们正在开发的功能:

  /%a http://localhost:3000/um/sessions/new

  /%a{ tag_icon(:edit), :href => url(:sessions, :new)}User login
  %a{:href=>url(:sessions, :new)} 登录系统

.base-icons
  .btn-group
    .btn.btn-primary{:title => "自动化稳定性测试过程"}=tag_icon("cogs icon-2x", "自动化测试过程")
    .btn.btn-success{:title => "自动发现和通知FATAL,Alarm"}=tag_icon("group icon-2x", "自动化发现和通知")
    .btn.btn-info{:title => "自动根据测试场景发现counter问题"}=tag_icon("tasks icon-2x", "PM counter检查")
    .btn.btn-warning{:title => "引入部分的自动的traffic model"}=tag_icon("flag icon-2x", "traffic model")
    .btn.btn-danger{:title => "基于用户和基站的"}=tag_icon("magic icon-2x", "个性化和集中式测试平台")
