- error = @message.errors.include?(:msgtype)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :msgtype, :class => 'control-label'
  .controls
    =f.text_field :msgtype, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:msgtype, :class => 'text-error') : pat(:example)
- error = @message.errors.include?(:msg)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :msg, :class => 'control-label'
  .controls
    =f.text_field :msg, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:msg, :class => 'text-error') : pat(:example)
- error = @message.errors.include?(:user_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :user_id, :class => 'control-label'
  .controls
    =f.text_field :user_id, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:user_id, :class => 'text-error') : pat(:example)
- error = @message.errors.include?(:node_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :node_id, :class => 'control-label'
  .controls
    =f.text_field :node_id, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:node_id, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:messages, :index), :class => 'btn btn-default'