- error = @user.errors.include?(:name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :name, :class => 'control-label'
  .controls
    =f.text_field :name, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : pat(:example)
- error = @user.errors.include?(:email)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :email, :class => 'control-label'
  .controls
    =f.text_field :email, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:email, :class => 'text-error') : pat(:example)
- error = @user.errors.include?(:mphone)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :mphone, :class => 'control-label'
  .controls
    =f.text_field :mphone, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:mphone, :class => 'text-error') : pat(:example)
- error = @user.errors.include?(:qq)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :qq, :class => 'control-label'
  .controls
    =f.text_field :qq, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:qq, :class => 'text-error') : pat(:example)
- error = @user.errors.include?(:crypedpwd)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :crypedpwd, :class => 'control-label'
  .controls
    =f.text_field :crypedpwd, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:crypedpwd, :class => 'text-error') : pat(:example)
- error = @user.errors.include?(:salt)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :salt, :class => 'control-label'
  .controls
    =f.text_field :salt, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:salt, :class => 'text-error') : pat(:example)
- error = @user.errors.include?(:role)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :role, :class => 'control-label'
  .controls
    =f.text_field :role, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:role, :class => 'text-error') : pat(:example)
- error = @user.errors.include?(:veribit)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :veribit, :class => 'control-label'
  .controls
    =f.text_field :veribit, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:veribit, :class => 'text-error') : pat(:example)
- error = @user.errors.include?(:vericode)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :vericode, :class => 'control-label'
  .controls
    =f.text_field :vericode, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:vericode, :class => 'text-error') : pat(:example)
- error = @user.errors.include?(:avatar)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :avatar, :class => 'control-label'
  .controls
    =f.text_field :avatar, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:avatar, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:users, :index), :class => 'btn btn-default'