%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:buildings, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:buildings, :new)

.tabs-content
  = form_for :building, url(:buildings, :create), :class => 'form-horizontal' do |f|
    =partial 'buildings/form', :locals => { :f => f }
